/* Francheska Guzman */

body {
	margin: 0 auto;
	background: radial-gradient(#FFFFFF, #FFFFFF, #99BBD8); 
}

/*                          */
/*                          */
/*      Heading & Fonts     */
/*                          */
/*                          */

@import url('https://fonts.googleapis.com/css?family=Arsenal|Philosopher');

h1 {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	font-size: 35px;
	color: #2C89CA;
}

h2 {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	font-size: 16px;
	color: #329CEB;
}

h3 {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
	color: #CCAD14;
}

h3:hover {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
	color: #D6B92A;
}

h4 {
	width: auto;
	display: inline-block;
	font-size: 21.75px;
	font-family: 'Arsenal', sans-serif;
}

/*                          */
/*                          */
/*        6 x 7 Grid        */
/*                          */
/*                          */

#grid6x7 {
	width: 600px;
	height: auto;
	padding: 4px 0 1px 0;
	background-color: #D6B92A;
	border-top: 1px solid #B98023;
	border-bottom: 1px solid #B98023;
	border-left: 15px solid #2C89CA;
	border-right: 15px solid #2C89CA;
	border-radius: 15px;
}

#drop {
	display: inline-block;
	width: 600px;
	height: 85px;
	margin: auto;
	padding: 0;
	list-style: none;
}

.col {
	border-right: 1px solid #CCAD14;
	border-left: 1px solid #CCAD14;
}

#show {
	display: none;
}

#message {
	display: none;
	width: 100%;
	margin: 50px 0 50px 0;
	height: 50px;
	text-align: center;
	font-size: 25px;
}

.center {
	margin: auto;
	text-align: center;
}

.col {
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0;
}

.space {
	width: 80px;
	height: 80px;
	background-color: #D6B92A;
	list-style: none;
}

.spaceToken {
	width: 60px;
	height: 60px;
	margin: auto;
	margin-top: 3px;
	border: 3px solid #CCAD14;
	border-radius: 50%;
	background-color: #E6F0F7;
}

/*                          */
/*                          */
/*     Buttons / Tokens     */
/*                          */
/*                          */

#startButton, #resetButton {
	width: 120px;
	height: 35px;
	margin: 5px;
	border: none;
	background-color: #2C89CA;
	font-size: 20px;
	color: #FFFFFF;
}

#startButton:hover, #resetButton:hover {
	background-color: #329CEB;
}

#resetButton {
	display: none;
}

input {
	outline: none;
}

.token {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 10px 11px 10px 11px;
	border: none;
	background-color: #000000;
	background: radial-gradient(#141414, #000000, #3A3A3A);
	border-radius: 50%;
	opacity: 0;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.token:hover {
	opacity: 1;
}

#a, #b, #c, #d, #e, #f, #g {
	display: inline-block;
}

/*                          */
/*       Media Queries      */
/*    (Responsive Design)   */
/*                          */
/*                          */